.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  max-width: 90vh;
  max-height: 150vh;
  margin: 0 auto;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboard h2{
  color: #525050;
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.data {
  font-family: "Open Sans", sans-serif;
  width: 30vh;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.btn-pin{
  width: 80%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8052ab;
  cursor: pointer;
  transition: border-color 0.25s;
}
